body {
    background-color: #202020;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Dancing Script", serif;
    font-size: 4.5rem;
    color: #e8e8e8;
    letter-spacing: 5px;
    text-align: center;
    margin: 3rem 0 1.5rem;
}

p {
    color: #e8e8e8;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Dancing Script", serif;
    letter-spacing: 3px;
}

button {
    margin: 0 0.7rem 0;
    font-family: "Montserrat", sans-serif;
}

footer {
    background-color: #3c3c3c;
    padding: 2% 7% 4%;
    margin: 7rem 0 0;
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.row {
    padding: 0 19vw;
}

.button-one {
    margin-right: 3rem;
}

.col-one {
    padding-right: 2rem;
}

.random-song-btn {
    margin: 5rem 1rem;
    text-align: center;
}

.container-fluid {
    text-align: center;
    margin: 4rem 0 0;
}

.keys {
    display: block;
    width: 100%;
    height: 350px;
    max-width: 880px;
    position: relative;
    margin: 40px auto 0;
}

.key {
    position: relative;
    border: 4px solid black;
    border-radius: 0.5rem;
    display: block;
    box-sizing: border-box;
    z-index: 2;
    cursor: pointer;
    text-align: center;
}

.key:not(.sharp) {
    float: left;
    width: 10%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
}

.key.sharp {
    position: absolute;
    width: 6%;
    height: 60%;
    background: #000;
    color: #eee;
    top: 0;
    z-index: 3;
}

.clicked {
    opacity: 0.5;
}

#first-black {
    left: 7%;
}

#second-black {
    left: 17%;
}

#third-black {
    left: 37%;
}

#fourth-black {
    left: 47%;
}

#fifth-black {
    left: 57%;
}

#sixth-black {
    left: 77%;
}

#seventh-black {
    left: 87%;
}

@media (max-width: 672px) {
    .btn {
        display: block;
        margin: 0 auto 1rem;
    }
}